@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
/*LOADING SPACE*/
@keyframes anim {
  0% {
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}
html, body {
  margin: 0;
}

body {
  background-image: linear-gradient(to right top, #92ffdf, #abffe7, #c3feee, #dafdf4, #f0fcf9);
}
body #maincontainer {
  max-width: 2000px;
  position: relative;
  flex: 1;
  width: 100%;
}
body #thecontainer {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.notify {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 15px;
  top: -5px;
  color: #ffffff;
  font-weight: 900;
  background-color: #008d5e;
}

#header {
  left: 50%;
  transform: translateX(-50%);
}
#header.bt {
  background-color: rgba(226, 226, 226, 0.8352941176);
  width: calc(100% - 24px);
  max-width: 2000px;
  border-radius: 16px;
  top: 12px;
  z-index: 150;
}

.signinbtn {
  position: relative;
  transition-duration: 0.4s;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 16px;
  transform-origin: left;
}

#navdiv {
  transition: 0.5s;
}
#navdiv.hover ul.main {
  max-height: 320px;
  overflow: visible;
  padding: 12px;
}
#navdiv #navbtn {
  background-color: #eeeeee;
  color: #000;
  z-index: 500;
}
#navdiv #navbtn:hover {
  background-color: transparent;
  border: #00ffae solid 0.5px;
  color: #00ffae;
}
#navdiv #navbtn:hover ~ ul.main {
  max-height: 320px;
  overflow: visible;
  padding: 12px;
}
#navdiv #navbtn:hover ~ ul.main li.second {
  margin-right: 8px;
}
#navdiv #navbtn:hover ~ ul.main a {
  width: 90%;
  opacity: 100;
}
#navdiv #navbtn:hover ~ ul.main a.first {
  transform: rotate(2deg);
}
#navdiv #navbtn:hover ~ ul.main a.last {
  transform: rotate(-2deg);
}
#navdiv #navbtn.open {
  background-color: transparent;
  border: #00ffae solid 0.5px;
}
#navdiv ul.main {
  z-index: 500;
  position: absolute;
  top: 100%;
  width: 280px;
  z-index: 2;
  width: 226px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 0;
  transition: 0.5s;
  justify-content: center;
  right: 20px;
  align-items: center;
}
#navdiv ul.main li {
  width: 100%;
  display: flex;
  justify-content: center;
}
#navdiv ul.main li:hover ul.sub {
  max-height: 320px;
  overflow: visible;
  padding: 12px;
}
#navdiv ul.main li ul.sub {
  position: absolute;
  z-index: 500;
  transition-delay: 1s;
  right: 100%;
  top: 0px;
  width: 280px;
  z-index: 2;
  width: 226px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 0;
  transition: 0.3s;
}
#navdiv ul.main li ul.sub a {
  font-size: small;
}
#navdiv ul.main li ul.sub:hover {
  max-height: 500px;
  overflow: visible;
  padding: 12px;
}
#navdiv ul.main li a {
  opacity: 0;
  display: flex;
  transition: 0.5s;
  padding: 12px;
  width: 50%;
  border-radius: 16px;
  background-color: #ffffff;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(119, 119, 120, 0.1) 0px 0px 8px;
}
#navdiv ul.main li a.yes {
  background-color: #000;
  width: calc(100% + 24px);
  padding: 15px;
  color: #00ffae;
}
#navdiv ul.main li a.second {
  transition-delay: 0;
}
#navdiv ul.main li a.last {
  transition-delay: 0;
}
#navdiv ul.main li a:hover {
  background-color: #000;
  width: calc(100% + 24px);
  padding: 15px;
  color: #00ffae;
}
#navdiv ul.main:hover, #navdiv ul.main.open {
  max-height: 320px;
  overflow: visible;
  padding: 12px;
}
#navdiv ul.main:hover li.second, #navdiv ul.main.open li.second {
  margin-right: 8px;
}
#navdiv ul.main:hover a, #navdiv ul.main.open a {
  width: 90%;
  opacity: 1;
}
#navdiv ul.main:hover a.first, #navdiv ul.main.open a.first {
  transform: rotate(2deg);
}
#navdiv ul.main:hover a.last, #navdiv ul.main.open a.last {
  transform: rotate(-2deg);
}

.signupbtn {
  position: relative;
  transition-duration: 0.4s;
  background-color: #000;
  padding: 12px;
  border-radius: 16px;
  transform-origin: left;
  color: #ffffff;
}

.signinbtn {
  position: relative;
  transition-duration: 0.4s;
  background-color: #000;
  padding: 12px;
  border-radius: 16px;
  transform-origin: left;
  color: #ffffff;
}

#mainsigndiv {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  top: 72px;
  border-radius: 16px 16px 0 0;
}
@media screen and (min-width: 768px) {
  #mainsigndiv {
    box-shadow: none;
  }
}
#mainsigndiv .submit-btn {
  background-color: #00ffae;
  color: rgba(0, 0, 0, 0.7568627451);
  padding: 18px;
  font-weight: 600;
}
#mainsigndiv #signindiv .submit-btn {
  background-color: #00ffae;
  color: rgba(0, 0, 0, 0.7568627451);
  padding: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  #mainsigndiv {
    display: flex;
    justify-content: center;
    border-radius: 16px;
  }
}
#mainsigndiv #signdiv {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
@media screen and (min-width: 768px) {
  #mainsigndiv #signdiv {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 16px;
  }
}
#mainsigndiv.open {
  height: 100vh;
  top: 72px;
}
@media screen and (min-width: 768px) {
  #mainsigndiv.open {
    height: 750px;
  }
}
#mainsigndiv.open #signdiv {
  background-color: #ffffff;
  height: calc(100% - 72px);
}
@media screen and (min-width: 768px) {
  #mainsigndiv.open #signdiv {
    top: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: calc(100% - 140px);
  }
}

#signupdiv {
  border-radius: 16px;
}
#signupdiv div {
  position: relative;
}
#signupdiv div label {
  color: rgb(118, 118, 118);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  pointer-events: none;
  font-size: larger;
  transition: 0.4s;
  padding: 6px;
}
#signupdiv div input {
  width: 100%;
  font-size: larger;
  padding: 14px 10px;
  outline: 0;
  border-radius: 16px;
  background-color: rgba(207, 207, 207, 0.5843137255);
}
#signupdiv div input:focus ~ label {
  background-color: rgba(88, 253, 181, 0.4392156863);
  top: 0;
  font-size: small;
  padding: 6px;
  color: #000;
  font-weight: bold;
  border-radius: 16px;
}
#signupdiv div input:valid ~ label {
  background-color: rgba(88, 253, 181, 0.4392156863);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}
#signupdiv div input:not(:empty) ~ label {
  background-color: rgba(88, 253, 181, 0.4392156863);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}
#signupdiv div input.invalid ~ label {
  background-color: rgb(235, 87, 87);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}
#signupdiv div label.error {
  background-color: rgb(235, 87, 87);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}

#signindiv {
  border-radius: 16px;
}
#signindiv div {
  position: relative;
}
#signindiv div label {
  color: rgb(118, 118, 118);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  pointer-events: none;
  font-size: larger;
  transition: 0.4s;
  padding: 6px;
}
#signindiv div input {
  width: 100%;
  font-size: larger;
  padding: 14px 10px;
  outline: 0;
  border-radius: 16px;
  background-color: rgba(207, 207, 207, 0.5843137255);
}
#signindiv div input:focus ~ label {
  background-color: rgba(0, 255, 145, 0.3176470588);
  top: 0;
  font-size: small;
  padding: 6px;
  color: #000;
  font-weight: bold;
  border-radius: 16px;
}
#signindiv div input:valid ~ label {
  background-color: rgba(0, 255, 145, 0.3176470588);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}
#signindiv div input:not(:empty) ~ label {
  background-color: rgba(0, 255, 145, 0.3176470588);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}
#signindiv div input.invalid ~ label {
  background-color: rgb(235, 87, 87);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}
#signindiv div label.error {
  background-color: rgb(235, 87, 87);
  top: 0;
  font-size: small;
  padding: 6px;
  font-weight: bold;
  border-radius: 16px;
  color: #000;
}

#regbtn {
  background-color: #00ffae;
  color: #000;
  display: flex;
  padding: 5px;
  font-weight: bolder;
}
#regbtn.open {
  left: calc(100% - 43px);
  background-color: rgba(226, 226, 226, 0.8352941176);
}
@media screen and (min-width: 768px) {
  #regbtn.open {
    left: calc(50% + 180px);
    transform: translateX(-50%);
    top: 118px;
  }
}
@media screen and (min-width: 1024px) {
  #regbtn.open {
    left: calc(50% + 470px);
    transform: translateX(-50%);
    top: 118px;
  }
}
#regbtn:hover {
  background-color: transparent;
  border: #00ffae 1px solid;
  color: #000;
}

#userbtn {
  background-color: #000;
  color: #00ffae;
  display: flex;
  border-radius: 18px;
  padding: 12px;
}
#userbtn.open {
  background-color: transparent;
  border: #00ffae 1px solid;
}
#userbtn:hover {
  background-color: transparent;
  border: #00ffae 1px solid;
}

#searchbtn {
  background-color: #eeeeee;
}

.searchinput {
  background-color: rgba(207, 207, 207, 0.5843137255);
}
@media screen and (min-width: 768px) {
  .searchinput {
    background-color: rgba(207, 207, 207, 0.5843137255);
  }
}

#mobsearchbtn {
  background-color: transparent;
}

#logodiv, #logodivm {
  background-color: #eeeeee;
}

#subbtn {
  background-color: #eeeeee;
  color: #000;
}
#subbtn:hover {
  background-color: transparent;
  border: #000 solid 1px;
}
#subbtn.open {
  background-color: transparent;
  border: #000 solid 1px;
}

.navlink {
  background: #eeeeee;
  height: 120px;
  justify-content: center;
}

.navmlink {
  background: #00ffae;
  height: 120px;
  justify-content: center;
  color: #000;
}

.navmlink2 {
  background: #00ffae;
  height: 120px;
  justify-content: center;
  color: #000;
}

.navmlink3 {
  background: #00ffae;
  height: 120px;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7568627451);
}

.navmlink4 {
  background: #000;
  height: 120px;
  justify-content: center;
  color: #00ffae;
}

#navtogmob {
  background-color: #eeeeee;
}
#navtogmob.open {
  background-color: rgba(255, 255, 255, 0.6784313725);
}

#herodiv {
  margin: 12px;
  margin-top: 0;
  background-image: url("../public/imgs/hero.png");
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #herodiv {
    height: calc(100vh - 108px);
    background-position: center;
  }
}
#herodiv .content {
  padding: 12px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6784313725);
  width: calc(100% - 24px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#herodiv .content h1 {
  color: rgba(0, 0, 0, 0.7568627451);
}
@media screen and (min-width: 768px) {
  #herodiv .content {
    background-color: rgba(255, 255, 255, 0.6784313725);
    border-radius: 16px;
    margin-right: 12px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
#herodiv::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position the pseudo-element */
  top: 0; /* Position at the top of the parent */
  left: 0; /* Position at the left of the parent */
  width: 100%; /* Cover the entire width of the parent */
  height: 100%; /* Cover the entire height of the parent */
  z-index: 1; /* Place the shadow above the content */
}
#herodiv #herobtn {
  background-color: #000;
  padding: 12px;
  border-radius: 16px;
  font-size: large;
  font-weight: 900;
  color: #00ffae;
  transition: 0.4s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
@media screen and (min-width: 768px) {
  #herodiv #herobtn {
    font-size: 32px;
    width: -moz-fit-content;
    width: fit-content;
    position: static;
    justify-self: right;
    align-self: start;
  }
}
#herodiv #herobtn:hover {
  background-color: #00ffae;
  color: #000;
}

#courseContent {
  border-radius: 16px;
}

#courseRequirements {
  background-color: rgba(255, 255, 255, 0.6784313725);
  border-radius: 16px;
}

#targetC {
  background-color: rgba(255, 255, 255, 0.6784313725);
  border-radius: 16px;
}

#coursecomdiv {
  background-color: rgba(255, 255, 255, 0.6784313725);
  border-radius: 16px;
  overflow: hidden;
}
#coursecomdiv img {
  height: 230px;
  border-radius: 16px;
  width: 100%;
}
#coursecomdiv #coursecdp {
  background-color: #000;
  color: #00ffae;
}
#coursecomdiv #cct {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  color: #000000;
}

#courseLoading {
  background-color: #ffffff;
  padding: 12px;
  width: 320px;
  height: 384px;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 16px;
}
#courseLoading div {
  background-color: #eeeeee;
  border-radius: 16px;
  width: 142px;
  height: 64px;
}

.cxdiv {
  top: 153px;
}

#coursePage #vdiv {
  border-radius: 16px;
  position: relative;
  background-color: #00ffae;
}
#coursePage #vdiv button {
  border-radius: 16px;
  overflow: hidden;
}
#coursePage #videoPreview {
  border-radius: 16px;
  width: 100%;
}
#coursePage #cauthordiv {
  background-color: rgba(255, 255, 255, 0.6784313725);
  padding: 7px;
  border-radius: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
#coursePage #cdt {
  color: rgba(0, 0, 0, 0.7568627451);
}
#coursePage #cddes {
  border-radius: 16px;
}
#coursePage #priceDiv {
  background-color: rgba(255, 255, 255, 0.6784313725);
  padding: 12px;
  border-radius: 16px;
}
#coursePage #priceDiv button {
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  #coursePage #priceDiv {
    background-color: rgba(255, 255, 255, 0.6784313725);
    border-radius: 16px;
  }
}
#coursePage #priceDiv #cdp {
  background-color: #000;
  padding: 15px;
  border-radius: 16px;
  color: #00ffae;
}
#coursePage #priceDiv #cdadd {
  border-radius: 16px;
}
#coursePage #priceDiv #cdadd span {
  pointer-events: none;
  transition: 0.4s;
}
#coursePage #courseContent {
  border: #00ffae 2px solid;
  padding: 8px;
}
@media screen and (min-width: 768px) {
  #coursePage #courseReq {
    width: calc(100% - 353px);
  }
}
@media screen and (min-width: 1024px) {
  #coursePage #courseReq {
    width: calc(100% - 353px);
  }
}
@media screen and (min-width: 1280px) {
  #coursePage #courseReq {
    width: calc(100% - 450px);
  }
}

#videobg {
  background-color: rgba(255, 255, 255, 0.6784313725);
  border-radius: 0;
  z-index: 180;
  right: auto;
  left: 0px;
  width: calc(100% - 24px);
  top: 150px;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  #videobg {
    border-radius: 16px;
    width: calc(100% - 24px);
    position: fixed;
    left: 12px;
    max-width: 500px;
    right: auto;
    z-index: 140;
    height: -moz-fit-content;
    height: fit-content;
    top: 220px;
  }
}

#ccontainer {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6784313725);
}
@media screen and (min-width: 768px) {
  #ccontainer {
    width: calc(100% - 353px);
  }
}
@media screen and (min-width: 1024px) {
  #ccontainer {
    width: calc(100% - 353px);
  }
}
@media screen and (min-width: 1280px) {
  #ccontainer {
    width: calc(100% - 450px);
  }
}
#ccontainer #pcontainer .pnumber {
  background-color: #008d5e;
  color: white;
}
#ccontainer #pcontainer #pt {
  background-color: rgba(0, 255, 145, 0.3176470588);
}
#ccontainer #pcontainer #pli .pnumber {
  background-color: rgba(0, 0, 0, 0.7568627451);
  color: white;
}
@media screen and (min-width: 1024px) {
  #ccontainer #pcontainer #pli {
    width: 100%;
  }
}
#ccontainer #pcontainer #pli button {
  background-color: #eeeeee;
  overflow: hidden;
}
#ccontainer #pcontainer #pli button span {
  max-width: 90%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#coursevideosdivbg {
  z-index: 199;
}
@media screen and (min-width: 1200px) {
  #coursevideosdivbg {
    width: 100%;
    background: rgba(226, 226, 226, 0.8352941176);
    z-index: 199;
  }
}

#coursevideosdiv {
  height: 100%;
  z-index: 200;
  background: rgba(226, 226, 226, 0.8352941176);
}
#coursevideosdiv #mddiv {
  height: calc(100% - 116px);
}
#coursevideosdiv #closecoursevideosdiv {
  background-color: rgba(226, 226, 226, 0.8352941176);
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#coursevideosdiv #closecoursevideosdiv:hover {
  background-color: rgba(255, 61, 61, 0.767);
}
@media screen and (min-width: 1200px) {
  #coursevideosdiv {
    max-width: 1200px;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
  }
}
#coursevideosdiv p.notice {
  background-color: #008d5e;
}
#coursevideosdiv #cvdiv {
  color: #000;
  max-height: 100%;
  overflow-y: auto;
}

#ovdiv {
  background-color: rgba(226, 226, 226, 0.8352941176);
  border-radius: 16px;
  max-height: 100%;
}
@media screen and (min-width: 1024px) {
  #ovdiv {
    max-height: 100%;
    min-width: 384px;
    max-width: 420px;
  }
}

#ovideobutton.current {
  color: #00ffae;
  font-weight: bold;
}

.pinvideodiv {
  background-color: transparent;
  border-radius: 16px;
  scrollbar-width: 0;
  transition: 0.4s;
}
.pinvideodiv span {
  color: rgba(0, 0, 0, 0.7568627451);
}
.pinvideodiv .thebtn {
  background-color: #00ffae;
  color: rgba(0, 0, 0, 0.7568627451);
  font-weight: bold;
}
.pinvideodiv .fatimes {
  background-color: rgba(88, 253, 181, 0.5294117647);
  color: rgba(0, 0, 0, 0.7568627451);
  border-radius: 16px;
  padding: 4px;
}
.pinvideodiv.open {
  background-color: rgba(226, 226, 226, 0.8352941176);
}
.pinvideodiv.open .thebtn {
  color: white;
  background-color: transparent;
}
.pinvideodiv.open .pinvideo {
  background-color: rgba(0, 0, 0, 0.7568627451);
  border-radius: 16px;
  color: #000;
  transition: 0.4s;
}
.pinvideodiv.open .pinvideo span {
  color: white;
}
.pinvideodiv.open .pinvideo.current {
  background-color: #00ffae;
  color: rgba(0, 0, 0, 0.7568627451);
}
.pinvideodiv.open .pinvideo.current span {
  color: black;
}

.faplay {
  background-color: #008d5e;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 60px;
}
@media screen and (min-width: 768px) {
  .faplay {
    background-color: transparent;
    color: #fff;
  }
}

#userNav {
  border-radius: 16px;
  background-color: #eeeeee;
}
#userNav .usernavlink {
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 16px;
}
#userNav .usernavlink:hover {
  background-color: transparent;
  border: #00ffae 1px solid;
  color: rgb(0, 0, 0);
}

.FaCircle {
  font-size: 12px;
}

#lordidiv, #lordcdiv {
  background-color: rgba(255, 255, 255, 0.6784313725);
}
#lordidiv.courseDet, #lordcdiv.courseDet {
  background-color: #eeeeee;
  border-radius: 16px;
  width: 100%;
}
#lordidiv.clicked, #lordcdiv.clicked {
  background-color: #00ffae;
  color: #000;
}

#lordcdiv.courseDet {
  background-color: #eeeeee;
  border-radius: 16px;
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  #lordcdiv.courseDet {
    background-color: #eeeeee;
  }
}
#lordcdiv.clicked {
  background-color: #00ffae;
  align-items: center;
}
#lordcdiv.clicked ~ span {
  opacity: 0;
}

#profilelayout button {
  background-color: #eeeeee;
}
#profilelayout ul {
  background-color: rgba(226, 226, 226, 0.8352941176);
  border-radius: 16px;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  #profilelayout ul {
    margin-top: 0;
    border-radius: 0 16px 16px 0;
  }
}
#profilelayout ul li {
  display: flex;
}
@media screen and (min-width: 768px) {
  #profilelayout ul li {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  #profilelayout ul li.selected {
    width: 100%;
  }
}
#profilelayout ul li a {
  transition: 0.4s;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 16px;
  background-color: rgba(88, 253, 181, 0.5294117647);
  width: 100%;
}
#profilelayout ul li a.selected {
  background-color: #eeeeee;
  font-size: large;
}

#infocomp ul {
  border-radius: 16px;
  background-color: rgba(226, 226, 226, 0.8352941176);
  min-height: 700px;
}
#infocomp ul li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #eeeeee;
  padding: 12px;
  border-radius: 16px;
  height: 120px;
  position: relative;
  top: 12px;
}
#infocomp ul li:last-child {
  margin-bottom: 12px;
}
#infocomp ul li div button {
  background-color: #ffffff;
  border-radius: 16px;
  transition: 0.3s;
  position: absolute;
  left: 12px;
}
#infocomp ul li div button:hover {
  background-color: transparent;
  border: 1px solid black;
}
#infocomp ul li form {
  display: flex;
  gap: 12px;
  align-items: center;
}
#infocomp ul li form input {
  padding: 12px;
  border-radius: 16px;
  background-color: #e2e2e2;
  transition: 0.3s;
}
#infocomp ul li form input.open {
  background-color: white;
}
#infocomp ul li form button {
  background-color: #ffffff;
  border-radius: 16px;
  transition: 0.3s;
}
#infocomp ul li form button.cancel {
  background-color: rgba(226, 226, 226, 0.8352941176);
}
#infocomp ul li form button:hover {
  background-color: transparent;
  border: 1px solid black;
}

#phonelabel {
  left: 20px;
  right: auto;
  opacity: 0;
}

/*keen*/
.cbtn {
  border-radius: 16px;
}

#favscomp, #cartcomp {
  border-radius: 16px;
  background-color: rgba(226, 226, 226, 0.8352941176);
  z-index: 152;
  min-height: 700px;
}

#cartcompdiv {
  border-radius: 16px;
  background-color: #eeeeee;
  z-index: 152;
}

#lordcbdiv {
  border-radius: 16px;
  background-color: #eeeeee;
}
#lordcbdiv:hover {
  background-color: #000;
  color: #00ffae;
}

.messageyes {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%);
  z-index: 200;
  background-color: rgba(226, 226, 226, 0.8352941176);
}

.cartNavPrice {
  width: calc(100% - 24px);
}

.cartNavPricep {
  background-color: rgba(226, 226, 226, 0.8352941176);
}
#searchR, #searchMR {
  background-color: rgba(88, 253, 181, 0.5294117647);
  border-radius: 16px;
}
#searchR a, #searchMR a {
  background-color: #ffffff;
}
#searchR button, #searchMR button {
  background-color: #00ffae;
  color: #000;
}

#searchR {
  background-color: #eeeeee;
}
#searchR .searchRbtn {
  background-color: #00ffae;
}

#searchMR {
  background-color: #eeeeee;
  border-radius: 16px;
  z-index: 200;
}
#searchMR a {
  background-color: #ffffff;
}

#searchpage {
  margin: 12px;
  border-radius: 16px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  border: 2px solid #00ffae;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
}
.custom-select:after {
  content: "▼";
  position: absolute;
  top: calc(50% - 0.5em);
  right: 10px;
  pointer-events: none;
}
.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.custom-select select:focus {
  border-color: #ffffff;
}
.custom-select option {
  padding: 10px;
  background-color: #00ffae;
  color: #333;
}

.coursesIc {
  max-width: 998px;
}

#userNav {
  width: calc(100% - 24px);
}
@media screen and (min-width: 768px) {
  #userNav {
    width: -moz-fit-content;
    width: fit-content;
  }
}

input {
  border: none;
  outline: none;
}

.insCard {
  background-color: rgba(255, 255, 255, 0.6784313725);
}

.coursesrelatedtosomcategories {
  border-radius: 16px;
}

.Irelatedtosomcategories {
  border-radius: 16px;
}

.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -35px;
  fill: #00ffae;
  border-radius: 16px;
  cursor: pointer;
  padding: 10px;
  background: #eeeeee;
}
@media screen and (min-width: 768px) {
  .arrow {
    transform: translateY(-50%);
    width: 50px;
    height: 230px;
    top: 50%;
  }
}

.arrow--left {
  left: 0;
}
@media screen and (min-width: 768px) {
  .arrow--left {
    left: 0;
    right: auto;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow--left {
    left: 0;
    right: auto;
  }
}

.arrow--right {
  left: 60px;
  right: auto;
}
@media screen and (min-width: 768px) {
  .arrow--right {
    left: auto;
    right: 0px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow--right {
    left: auto;
    right: 0;
  }
}

.arrow--disabled {
  fill: rgba(124, 124, 124, 0.5);
}

#categoriesdiv {
  border-radius: 16px;
}
@media screen and (min-width: 640px) {
  #categoriesdiv {
    box-shadow: rgba(0, 250, 142, 0.504) 0px 4px 16px, rgba(0, 250, 142, 0.504) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}
#categoriesdiv .mob-grid {
  box-shadow: rgba(0, 250, 142, 0.504) 0px 22px 70px 4px;
  padding: 12px;
  border-radius: 16px;
}

.footer {
  width: 100%;
  padding: 12px;
}
.footer .footercon {
  background-color: #000;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 24px;
  gap: 24px;
}
.footer .footercon .we {
  flex-wrap: wrap;
}
.footer .footercon .we a {
  background-color: rgba(255, 255, 255, 0.6784313725);
  border-radius: 16px;
  padding: 24px;
  transition: 0.4s;
  color: #000;
}
@media screen and (max-width: 1024px) {
  .footer .footercon .we a {
    font-weight: normal;
    font-size: small;
    padding: 12px;
  }
}
.footer .footercon .we a:hover {
  background-color: #00ffae;
  color: rgba(0, 0, 0, 0.7568627451);
}
.footer .footercon .social a {
  border: #00ffae 2px solid;
  color: #00ffae;
  background-color: transparent;
  font-size: x-large;
  border-radius: 50px;
  padding: 12px;
  transition: 0.4s;
}
@media screen and (max-width: 1024px) {
  .footer .footercon .social a {
    font-size: normal;
    padding: 12px;
  }
}
.footer .footercon .social a:hover {
  background-color: #00ffae;
  color: rgba(0, 0, 0, 0.7568627451);
}

.loadingcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 7px;
  height: 7px;
  background: #000;
  margin: 1px;
  animation: wave 1s linear infinite;
  border-radius: 50%;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
#cartpage {
  background: #ffffff;
  padding: 12px;
  border-radius: 16px;
  margin: 12px;
}

.cartpage .linkcartpage {
  background-color: #eeeeee;
  border-radius: 16px;
}

#paybutton {
  background-color: #00ffae;
}

.deletecn:hover {
  background-color: rgba(0, 255, 145, 0.3176470588);
}

.star-field {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eaeaea; /* Dunkles Blau für den nächtlichen Himmel */
}

.star {
  position: absolute;
  width: 3px; /* Breite eines Sterns */
  height: 3px; /* Höhe eines Sterns */
  background-color: #00ffae; /* Farbe der Sterne (weiß) */
  border-radius: 50%; /* Rundung für Sterneffekt */
  animation: twinkling 3s infinite; /* Twinkle-Animation */
}

/* Keyframes für das Twinkling */
@keyframes twinkling {
  0% {
    opacity: 0; /* Anfangsopazität auf 0 */
  }
  50% {
    opacity: 1; /* Halbzeit mit voller Opazität */
  }
  100% {
    opacity: 0; /* Endet mit 0 Opazität */
  }
}
.faangledown {
  color: rgb(0, 0, 0);
}

#mobnav {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}/*# sourceMappingURL=globals.css.map */