@tailwind base;
@tailwind components;
@tailwind utilities;

$main_color: #000;
$main_color2: #ffffff;
$sub_color: #eeeeeedf;
$sub_color2: #58fdb570;
$background: #58fdb570;
$bg-colour: #58fdb587;
$bgc-colour: #ffffffad;
$dark-colour: #cacacad5;
$main-btn:#00ffae;
$dark-btn:#008d5e;
$background-color: #a3d9ff;
$sub-background-color:  #58fdb570;
$border:16px;
$sub_btn:#00ffae;
$input:#cfcfcf95;
$wall:#a4fffa;
$dark_sub:#008d5e;
$gray : #ffffff;
$semidark:#5a5a5a57;
$harddark: #000000bd;
 @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    
    
    @keyframes drift {
      from { transform: rotate(0deg); }
      from { transform: rotate(360deg); }
    }
    
    /*LOADING SPACE*/
    
  
    
    @-webkit-keyframes anim{
      0% {
        -webkit-transform: scale(0,0) rotateZ(-90deg);
        transform: scale(0,0) rotateZ(-90deg);opacity:0
      }
      30% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
      }
      50% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
      }
      80% {
        -webkit-transform: scale(0,0) rotateZ(90deg);
        transform: scale(0,0) rotateZ(90deg);opacity:0
      }
    }
    
    @keyframes anim{
      0% {
        -webkit-transform: scale(0,0) rotateZ(-90deg);
        transform: scale(0,0) rotateZ(-90deg);opacity:0
      }
      30% {
        -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
      }
      50% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
      }
      80% {
        -webkit-transform: scale(0,0) rotateZ(90deg);
        transform: scale(0,0) rotateZ(90deg);opacity:0
      }
    }
    html, body {
        margin: 0;
      }
body{
    background-color:#eeee;
background-image: url('../public/imgs/img-noise-361x370.png');
    #maincontainer{
    max-width: 2000px;
    position: relative;
    flex: 1;
    width: 100%;
    
}
#thecontainer{
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
   #particlesdiv{ 
    }
   
    #particles-js {
      
      }
}
.notify{
    border-radius: 50% ;
    height: 15px;
    width: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 15px;
    top: -5px;
    color: $main-color2;
    font-weight: 900;
    background-color: $dark-btn;
}
#header {
    left: 50%;transform: translateX(-50%);
    &.bt {
        background-color: $bgc-colour;
        width: calc(100% - 24px);
            max-width: 2000px;
        
        
        border-radius: $border;
        top: 12px;
        z-index: 150;
    }

   

}
.signinbtn{
    position: relative;
    transition-duration: 0.4s;
    background-color: $main-color2; 
    padding: 8px;
    border-radius: $border;
    transform-origin: left;  
    
}
#navdiv{
    transition: 0.5s;
    &.hover {
        ul.main{max-height: 320px;
        overflow: visible;
        padding: 12px;}
        
    }
    #navbtn {
        background-color: $main-color2;
        color: $main_color;
        z-index: 500;
        &:hover{
            &~ul.main{max-height: 320px;
                overflow: visible;
                padding: 12px;

                li.second{
                    margin-right: 8px;
                }
            a{
                width: 90%;

                opacity: 100;
                &.first {
                    transform: rotate(2deg);
                }
                &.last{
                    transform: rotate(-2deg)
                }
            }
            }
            background-color: transparent;
            border: #000 solid 1px;

        }
        &.open{
            background-color: transparent;
            border: #000 solid 1px;
        }
    }
    ul.main{
        z-index: 500;

        position: absolute;
        top: 100%;
        width: 280px;
        z-index: 2;
        width: 226px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-height: 0;
        transition: 0.5s;
        justify-content: center;
        right: 20px;
        align-items: center;
        
        li{
            width: 100%;
            display: flex;
            justify-content: center;

            &:hover{
                ul.sub{
                    max-height: 320px;
                    overflow: visible;
                    padding: 12px;
                }
            }
            ul.sub{    position: absolute;
                z-index: 500;
                transition-delay: 1s;
                right: 100%;
                top: 0px;
                width: 280px;
                z-index: 2;
                width: 226px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 12px;
                max-height: 0;
                transition: 0.3s;
                a{
                    font-size: small;
                }
                &:hover {
                    max-height: 500px;
                    overflow: visible;
                    padding: 12px;
        
                }
            }
             a{
                &.yes{
                    background-color: $main_color;
                    width: calc(100% + 24px) ;
                    padding: 15px;
                    color: $main_color2;
                }
                &.second{
                    transition-delay: 0 ;
                }
                &.last{
                    
                    transition-delay: 0 ;
                }
                opacity: 0;
                display: flex;
                transition: 0.5s;
                padding: 12px;
            width: 50%;
            border-radius: $border;
            background-color: $main_color2;
            align-items: center;
            &:hover {
                background-color: $main-color;
                width: calc(100% + 24px) ;
                padding: 15px;
                color: #fff;
            }
        }
        }

        &:hover, &.open {
            max-height: 320px;
            overflow: visible;
            padding: 12px;
            li.second{
                margin-right: 8px;
            }
            a{
                width: 90%;
                opacity: 1;
                &.first {
                    transform: rotate(2deg);
                }
                &.last{
                    transform: rotate(-2deg)
                }
            }

        }

              
       
    }
}
.signupbtn{
    position: relative;
    transition-duration: 0.4s;
    background-color: $main_color; 
    padding: 12px;
    border-radius: $border;
    transform-origin: left;
    color:  $main_color2;
    
}
.signinbtn{
    position: relative;
    transition-duration: 0.4s;
    background-color: $main_color; 
    padding: 12px;
    border-radius: $border;
    transform-origin: left;
    color:  $main_color2;

}
#mainsigndiv{
    .submit-btn{
        background-color: $main-btn;
        color: $harddark;
        padding: 18px;
        font-weight: 600;
    }
    #signindiv{.submit-btn{
        background-color: $sub-btn;
        color: $harddark;
        padding: 18px;
        font-weight: 600;
    }}
    
    top: 72px;  
    border-radius: $border $border 0 0;

    @media screen and (min-width: 768px) {
         display: flex;
    justify-content: center;
    border-radius: $border;

    }
#signdiv{
 
    @media screen and (min-width: 768px) {
  
   border-radius: $border;

   }

    
}
     &.open{

        height: calc(100vh);
        top: 72px;        
        @media screen and (min-width: 768px) {
            height: calc(750px);

    
        }
        #signdiv{
            background-color: $main_color2;
            height:calc(100% - 72px);
        
            @media screen and (min-width: 768px) {
                top: 24px;
                 width: fit-content;
                height:calc(100% - 140px);
        
            }
        }
    }
}
#signupdiv{
    border-radius: $border;


    div{
        
        position: relative;
        label{
            color: rgb(118, 118, 118);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            pointer-events: none;
            font-size: larger;
            transition: 0.4s;
            padding: 6px;
        
        }
        input{
        width: 100%;
        font-size: larger;
        padding:14px 10px;
        outline: 0;
        border-radius: $border;
        background-color: $input;

        &:focus ~ label {
            background-color: $sub_color2;
            top: 0;
            font-size: small;
            padding: 6px;
            color: #000;
            font-weight: bold;
            border-radius: $border;

        }
        &:valid ~ label {
            background-color: $sub_color2;
            top: 0;
            font-size: small;
            padding: 6px;
            font-weight: bold;
            border-radius: $border;
            color: #000;

        }
        &:not(:empty) ~ label{
            background-color: $sub_color2;
            top: 0;
            font-size: small;
            padding: 6px;
            font-weight: bold;
            border-radius: $border;
            color: #000;

        }
        &.invalid ~ label {
            background-color: rgb(235, 87, 87);
            top: 0;
            font-size: small;
            padding: 6px;
            font-weight: bold;
            border-radius: $border;
            color: #000;

        }
       
    }
    label.error {
        background-color: rgb(235, 87, 87);
        top: 0;
        font-size: small;
        padding: 6px;
        font-weight: bold;
        border-radius: $border;
        color: #000;

    }
}}

#signindiv{
    border-radius: $border;


    div{
        
        position: relative;
        label{
            color: rgb(118, 118, 118);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            pointer-events: none;
            font-size: larger;
            transition: 0.4s;
            padding: 6px;
        
        }
        input{
        width: 100%;
        font-size: larger;
        padding:14px 10px;
        outline: 0;
        border-radius: $border;
        background-color: $input;

        &:focus ~ label {
            background-color: $sub-background-color;
            top: 0;
            font-size: small;
            padding: 6px;
            color: #000;
            font-weight: bold;
            border-radius: $border;

        }
        &:valid ~ label {
            background-color: $sub-background-color;
            top: 0;
            font-size: small;
            padding: 6px;
            font-weight: bold;
            border-radius: $border;
            color: #000;

        }
        &:not(:empty) ~ label{
            background-color: $sub-background-color;
            top: 0;
            font-size: small;
            padding: 6px;
            font-weight: bold;
            border-radius: $border;
            color: #000;

        }
        &.invalid ~ label {
            background-color: rgb(235, 87, 87);
            top: 0;
            font-size: small;
            padding: 6px;
            font-weight: bold;
            border-radius: $border;
            color: #000;

        }
       
    }
    label.error {
        background-color: rgb(235, 87, 87);
        top: 0;
        font-size: small;
        padding: 6px;
        font-weight: bold;
        border-radius: $border;
        color: #000;

    }
}}

#regbtn {
    background-color: $main-color2;
    color: $main-color;
    display: flex;
    padding: 5px;
    font-weight:bolder;
    &.open{
           left: calc(100% - 43px);
           background-color: $dark-colour;
    @media screen and (min-width: 768px) {
        left: calc(50% + 180px);
        transform: translateX(-50%);
        top: 118px;

    }   
      @media screen and (min-width: 1024px) {
        left: calc(50% + 470px);
        transform: translateX(-50%);
        top: 118px;

    }
    }
 
    &:hover{
        background-color: transparent;
        border: #000 1px solid;
        color: #000;
    }
}

#userbtn {
    background-color: $main_color2;
    color: $main_color;
    display: flex;
    border-radius: 18px;
    padding: 12px;
    &.open{
        background-color: transparent;
        border: #000 1px solid;
    }
    &:hover{
        background-color: transparent;
        border: #000 1px solid;
    }
}

#searchbtn{
    background-color:$main-color2;
   
}
.searchinput{
    background-color: $sub-color;

    @media screen and (min-width: 768px) {
           background-color: $sub-color;


    }   

}
#mobsearchbtn{
    background-color: transparent;
   
}
#logodiv, #logodivm{
    background-color: $main-color2;
}

#subbtn {
    background-color: $sub_color;
    color: $main_color;
    &:hover{
        background-color: transparent;
        border: #000 solid 1px;
    }
    &.open{
        background-color: transparent;
        border: #000 solid 1px;
    }
}

.navlink{
    background: $sub_color;
    height: 120px;
    justify-content: center;
}
.navmlink{
    background: $sub_btn;
    height: 120px;
    justify-content: center;
    color: $main_color;
}
.navmlink2{
    background: $main-btn;
    height: 120px;
    justify-content: center;
    color: $main_color;
}
.navmlink3{
    background: $main-btn;
    height: 120px;
    justify-content: center;
    color: $harddark;
}
.navmlink4{
    background: $main-color;
    height: 120px;
    justify-content: center;
    color: $main_color2;
}
#navtogmob{
    background-color: $main-color2;
    &.open{
         
        background-color: $bgc-colour;
        
    }
}

#herodiv {
  
    margin:  12px;  margin-top: 0;
    background-image: url("../public/imgs/hero.png");
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius:  $border;
    background-position: bottom;
    background-size:  contain;
    @media screen and (min-width: 768px) {
        height: calc(100vh - 108px);
        
        background-position: center;

    }


    .content{
         padding: 12px;
         border-radius: $border;
         background-color: $bgc-colour;
         width: calc(100% - 24px);


        h1{
            color: $harddark;
        }
        @media screen and (min-width: 768px) {
            background-color: $bgc-colour;
            border-radius: $border;
            margin-right: 12px;
            width: fit-content;
        }
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
    &::after {
        content: ""; /* Required for pseudo-elements */
        position: absolute; /* Position the pseudo-element */
        top: 0; /* Position at the top of the parent */
        left: 0; /* Position at the left of the parent */
        width: 100%; /* Cover the entire width of the parent */
        height: 100%; /* Cover the entire height of the parent */
        z-index: 1; /* Place the shadow above the content */
    }

    #herobtn{
        background-color: $main-btn;
         padding: 12px;
         border-radius: $border;
         font-size: large; 
         font-weight: 700;
         color: $harddark;
         transition: 0.4s;
       

      

         @media screen and (min-width: 768px) {
            font-size: 32px;     
            width: fit-content;
            position: static;
            justify-self: right;
            align-self: start;
        }
         &:hover{
            background-color:$dark-btn;
            color: white;
           
             
         }

    }
}
#courseContent{
    border-radius: $border;
}
#courseRequirements{
    background-color: $main-color2;
    border-radius: $border;
}
#targetC{
    background-color: $main-color2;
    border-radius: $border;
}
#coursecomdiv{
    background-color: $main-color2;
    border-radius: $border;
    overflow: hidden;
    img{
        height: 230px;
        border-radius: $border;
        
        width: calc(100%);
    }
    #coursecdp{
        background-color: $main-color;
        color: #fff;
    }
    #cct{
        width: calc(100%) ;
        border-radius: $border $border 0px 0px;
        color: #000000;

    }
}

.cxdiv{
    top: 153px;
}

#coursePage{
    #vdiv{
      border-radius: $border;
      position: relative;
        background-color:  $sub-btn;

    
     
    button{
        border-radius:    $border ;
        overflow: hidden;


    }
    }
    #videoPreview{
        border-radius: $border;
        width: 100%;

    }
    
    #cauthordiv{
        background: $main-color2;
        padding: 7px;
        border-radius: $border;
        width: fit-content;
    }

    #cdt{

        color: $harddark;

    }
    #cddes{
        border-radius:  $border;
    }

    #priceDiv {            
        background-color: $main-color2;
        padding: 12px;
        border-radius: $border;
      

        button{
            border-radius: $border;

        }
        @media screen and (min-width: 768px) {
            background-color: $bgc-colour;
            border-radius: $border;
     
         }
        #cdp{
            background-color: $main_color;
            padding: 15px;
            border-radius: $border;
            color: $main-color2;
            

        }
        #cdadd{
            border-radius: $border;
            span{
               pointer-events: none;
               transition: 0.4s;
            }
        }
    }
    #courseContent{
        color: #000;
        background-color: $sub-background-color;
        @media screen and (min-width: 768px) {
            background-color: $sub_btn;

        }
        padding: 8px;
        
    }

    #courseReq{
      @media screen and (min-width: 768px) {
        width: calc(100% - 353px);
    }
        @media screen and (min-width: 1024px) {
            width: calc(100% - 353px);

        }
        @media screen and (min-width: 1280px) {
            width: calc(100% - 450px);

        }
    }
    }

    #videobg{
    background: $bgc-colour;
    border-radius: 0;
    z-index: 180;
    right: auto;
     left: 0px;
      width:calc(100% - 24px);
      top: 150px;
      border-radius: $border;

    @media screen and (min-width: 768px) {
        span{
        }
        border-radius: $border;
          width: calc(100% - 24px);
position: fixed;  left: 12px;    max-width: 500px;
right: auto;
z-index: 140;
height: fit-content;
top: 220px;

    }
    
    
}
#ccontainer{
    border-radius: $border;
    background-color:$main-color2;
    @media screen and (min-width: 768px) {
        width: calc(100% - 353px);
    }
    @media screen and (min-width: 1024px) {
        width: calc(100% - 353px);

    }
    @media screen and (min-width: 1280px) {
        width: calc(100% - 450px);

    }
        #pcontainer{
            .pnumber{
                background-color: $dark_sub;
                color: white;
            }
        #pt{
             background-color: $sub-background-color;
            @media screen and (min-width: 1024px) {
          
            }
          ul.open{
            
          }
        }
        #pli{
            
            .pnumber{
                background-color: $harddark;
                color: white;
            }
            @media screen and (min-width: 1024px) {
                width: 100%;
          
            }
            button{            
                background-color: $sub-color;
                overflow: hidden;
                span{
                    max-width: 90%;
                      text-wrap: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                }
}              

        }
    }
}
#coursevideosdivbg{
    z-index: 199;

    @media screen and (min-width: 1200px) {
       width: 100%;
            background: $dark-colour;
            z-index: 199;

        }
}
#coursevideosdiv{
    #mddiv{
        height: calc(100% - 116px);
    }
    height: 100%;
    z-index: 200;
    background: $dark-colour;
    #closecoursevideosdiv{ background-color: $dark-colour;
        height:  32px;
        width: 32px;
        border-radius: $border;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover{
                   background-color: rgba(255, 61, 61, 0.767);

        }
        
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        backdrop-filter: none;
        background: transparent;
        left: 50%;
        transform: translateX(-50%);
        }
     p.notice{
    background-color: $dark_sub ;

 }
    #cvdiv{
        color: $main-color;
        max-height:100%;
        overflow-y: auto;
    }
}
#ovdiv{
 background-color: $dark-colour;
 border-radius: $border;
 max-height:100%;
  @media screen and (min-width: 1024px) {
max-height: 100%;
min-width: 384px;
max-width: 420px;}


}
#ovideobutton.current{
    color: $main-btn;
    font-weight: bold;
}
.pinvideodiv{
    span{
        color: $harddark;   

        }
        .thebtn{
            background-color: $main-btn;
            color: $harddark;
            font-weight: bold;
        }
    .fatimes{
        background-color: $bg-colour;
        color: $harddark;
        border-radius: $border;
        padding: 4px;
    }
    background-color: transparent;
    border-radius: $border;
    scrollbar-width:0;
    transition: 0.4s;
    &.open{    background-color: $dark-colour ;
        .thebtn{
            color: white;
            background-color: transparent;
        }
        span{
            }
.pinvideo{
    
    background-color: $harddark;
    border-radius: $border;
    color: $main_color;
    transition: 0.4s;
     span{
             color:  white;
        }
    &.current{
        background-color: $main-btn;
        color: $harddark;
        span{
            color:  black;
       }
    }
}
    }
    }

.faplay{
    background-color: $dark_sub;
    color: $main-color2;
    width: 100%;
    height: 100%;
    padding:60px;
    
    @media screen and (min-width: 768px) {
        background-color: transparent;
        color:#fff;
     }
}


#userNav{
    border-radius: $border;
    background-color: $gray;

    .usernavlink{
        transition: 0.3s;
        background-color: $sub_color;
        border-radius: $border;
        &:hover{
            background-color: transparent;
            border: $main_color2 2px solid;
            color: white;
        }

    }
}

.FaCircle{
    font-size: 12px;
    
}
#lordidiv, #lordcdiv{
    &.courseDet{
        background-color: $dark-colour;
        border-radius: $border;
        width: 100%;
    }
    background-color: $bgc-colour;
    &.clicked{
        background-color: $main-color2;
    }

}
#lordcdiv{
    &.courseDet{
        background-color: $dark-colour;
        border-radius: $border;
        width: 100%;
    }   &.clicked{
        background-color: $main-color2;
        align-items:center ;
    }
    &.clicked~span{
        opacity: 0;
    }
}
#profilelayout{
    button{
        background-color: $sub_color;

    }
    ul {
        background-color: $dark-colour;
        border-radius: $border;
        margin-top: 12px;
        @media screen and (min-width: 768px) {
           margin-top: 0;
           border-radius: 0 $border $border 0;
           
         }
        li {
            display: flex;
            
            @media screen and (min-width: 768px) {
            
                width: 90%;

               }
               &.selected{
               
                @media screen and (min-width: 768px) {
                   width: 100%;
                  }
            }
            a{
                transition: 0.4s;
                display: flex;
                align-items: center;
                padding: 12px;
                border-radius: $border;
                background-color: $bg-colour ;
                  width: 100%;
             
                &.selected{
                    background-color: $sub_color;
                    font-size:large;     
                   
                  
                }
            }
        }
    }
}

#infocomp{
       
    ul{
        border-radius: $border;
        background-color: $dark-colour;
        min-height: 700px;
        li{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: $sub_color;
            padding: 12px;
            border-radius: $border;
            height: 120px;
            position: relative;
            top: 12px;
                 &:last-child{
            margin-bottom: 12px;
                }
            div{
                button{
                    background-color: $main_color2;
                    border-radius: $border;
                    transition: 0.3s;
                    position: absolute;
                    left: 12px;
                    &:hover{
                        background-color: transparent;
                        border: 1px solid black;
                    }

                }
            
                } 
                   form{
                         display: flex;
                         gap: 12px;
                         align-items: center;
                    input{
                        padding: 12px;
                        border-radius: $border;
                        background-color: #e2e2e2;
                        &.open{ background-color: white;}
                        transition: 0.3s;

                    }
                    button{
                        background-color: $main_color2 ;
                        border-radius: $border;
                        transition: 0.3s;
                        &.cancel{
                            background-color: $dark-colour;
                        }
                        &:hover{
                            background-color: transparent;
                            border: 1px solid black;
                        }
                    }

            }
        }
    }
}

#phonelabel{
    left: 20px; 
    right: auto;
    opacity: 0;
}
/*keen*/
.cbtn{
    border-radius: $border;
}

#favscomp,#cartcomp {
    border-radius: $border;
    background-color: $dark-colour;
    z-index: 152;
    min-height: 700px;

}
#cartcompdiv {
    border-radius: $border;
    background-color: $main_color2;
    z-index: 152;
    

}
#lordcbdiv{
    border-radius: $border;
    background-color: $main_color2;
    &:hover {
        background-color: $main-color;
        color: $main_color2;
    }
}

.messageyes{
    top: 50vh;
    left: 50vw;
    transform: translate(-50%);
    z-index: 200;
    background-color: $dark-colour;
    
    
}
.cartNavPrice{
    width: calc(100% - 24px) ;
 
}
.cartNavPricep{
    background-color:$bgc-colour;

   
    @media screen and (min-width: 1024px) {
       
       
   }
}


#searchR, #searchMR {
    
    background-color: $bg_colour;
    border-radius: $border;
    a{
        background-color: $sub_color;
    }
    button{
        background-color: $main-btn;
    }
}
#searchR{
    background-color: $main_color2;
.searchRbtn{
        background-color: $main-btn;
    }    
}
#searchMR {
    background-color: $sub_color;
    border-radius: $border;
    z-index: 200;
    a{
        background-color: $sub_color;
    }
}

#searchpage{
    margin: 12px;
    border-radius: $border;
}

#categoriesdiv{
     

}
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ccc;
    border-radius:$border;
    background-color: #fff;
    cursor: pointer;
  
    &:after {
      content: '\25BC'; // Unicode character for a downward-pointing triangle
      position: absolute;
      top: calc(50% - 0.5em);
      right: 10px;
      pointer-events: none;
    }
  
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 10px;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
  
      &:focus {
        border-color: #ffffff;
      }
    }
  
    option {
  
      padding: 10px;
      background-color: #fff; // Adjust background color of options
      color: #333; // Adjust text color of options
    }
  }

  .coursesIc{
    max-width: 998px ;

}

#userNav{        width: calc(100% - 24px);

    @media screen and (min-width: 768px) {
            width: fit-content;


       }
}

input {
    border: none;
    outline: none;
}

.insCard{
    background-color: $dark-colour;
}

.coursesrelatedtosomcategories{
    background-image: linear-gradient(to right bottom, #dbdbdb8e, #9e9e9e80, #c0c0c079, #ffffff71,rgba(255, 255, 255, 0.5));
        border-radius: $border;

}
.Irelatedtosomcategories{
        border-radius: $border;
        background-color: $dark-colour;

}

#categoriesdiv{
    border-radius: $border;
    @media screen and (min-width: 640px) {
        background-color: $dark-colour;


   }
.mob-grid{
 background-color: $dark-colour;
 padding: 12px;
 border-radius: $border;
}

}

.footer{
    width: 100%;
    padding: 12px;
    .footercon{   
         background-color: $main_color;
        border-radius: $border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: $main_color2;
        padding: 24px;
        gap: 24px;
        @media screen and (min-width: 720px) {
    
    
       }
        .we {
            flex-wrap: wrap;
            a{
                background-color: $bg-colour;
                border-radius: $border;
                padding: 24px;
                transition: 0.4s;
                @media screen and (max-width: 1024px) {
                    font-weight:normal;
                    font-size: small;
                padding: 12px;
                    
               }
                &:hover{
                    background-color: $main-btn;
                    color: $harddark;
                } 
            }
        }
        .social{
            a{
                font-size: x-large ;
                background-color: $bg-colour;
                border-radius: 50px;
                padding: 12px; 
                transition: 0.4s;
                @media screen and (max-width: 1024px) {
                    font-size: normal;
                padding: 12px;
                }
                &:hover{
                    background-color: $main-btn;
                    color: $harddark;
                }  
            }
        }
}
}

//////////////////////////////////////////////////////////////////////////
.loadingcenter {
    height:  calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wave {
    width: 40px;
    height: 40px;
    background: $main_color;
    margin: 0px;
    animation: wave 1s linear infinite;
    border-radius: 50%;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  

  #cartContainer{
   
  }
  #cartpage{background:$gray;
    padding: 12px;
    border-radius: $border;
margin: 12px;}
.cartpage{
    
    .linkcartpage{
        background-color: $sub_color;
        border-radius: $border;

    }
}

#paybutton{
    background-color: $main-btn;
}

.deletecn {
    &:hover{
        background-color: $sub-background-color;
    }
}

.star-field {
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eaeaea; /* Dunkles Blau für den nächtlichen Himmel */
  }
  
  .star {
    position: absolute;
    width: 3px; /* Breite eines Sterns */
    height: 3px; /* Höhe eines Sterns */
    background-color: $main-btn; /* Farbe der Sterne (weiß) */
    border-radius: 50%; /* Rundung für Sterneffekt */
    animation: twinkling 3s infinite; /* Twinkle-Animation */
  }
  
  /* Keyframes für das Twinkling */
  @keyframes twinkling {
    0% {
      opacity: 0; /* Anfangsopazität auf 0 */
    }
    50% {
      opacity: 1; /* Halbzeit mit voller Opazität */
    }
    100% {
      opacity: 0; /* Endet mit 0 Opazität */
    }
  }
  #signdiv{
    
  }

  .faangledown{
    color: rgb(0, 0, 0);
  }